@use "./reset.scss";
@use "./fonts.scss";
@use "./variables.scss";
@use "./burger.scss";
@use "./range.scss";
@use "./steps.scss";

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1750px;

* {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--black);
  box-sizing: border-box;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: #3d4050;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hide {
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
  }

  &__logo {
    color: var(--white);
    font-size: 70px;
    font-family: var(--second-family);
    font-weight: 800;
    text-transform: uppercase;
    animation: pulse 2s infinite;

    span {
      color: var(--primary);
      font-weight: 800;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  z-index: 10000;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: rgba(16, 16, 29, 0.9);
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
  transition: 1s;

  &.hide {
    transform: translateY(-100%);
  }
  @media (max-width: $sm) {
    height: 80px;
  }

  &__logo {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--white);
    transition: var(--transition-time-2);

    &.hide {
      opacity: 0;
    }

    @media (max-width: $sm) {
      font-size: 25px;
    }

    span {
      color: var(--primary);
      font-weight: 800;
    }
  }

  &__navigation {
    transition: var(--transition-time-2);

    &.hide {
      opacity: 0;
    }

    @media (max-width: $lg) {
      display: none;
    }
  }
  &__navigation-list {
    display: flex;
    gap: 60px;
    color: var(--white);
  }

  &__navigation-link {
    color: var(--white);
    transition: var(--transition-time);

    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;

    &:hover {
      color: var(--primary-hover);
      transition: var(--transition-time);
      cursor: pointer;
    }

    &:active {
      color: var(--primary-active);
    }
  }
}

.section {
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
}

.hero-section {
  margin-top: -100px;
  background-image: image-set(
    url("@img/bg1.jpg") 1x,
    url("@img/bg1@2x.jpg") 2x,
    url("@img/bg1@3x.jpg") 3x
  );
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 203px;
  padding-bottom: 202px;

  @media (max-width: $xxxl) {
    background-position-x: -150px;
  }

  @media (max-width: 1500px) {
    background-position-x: -450px;
  }

  @media (max-width: $xl) {
    background-position-x: -550px;
  }

  @media (max-width: $lg) {
    background-position-x: -350px;
    padding-top: 200px;
    padding-bottom: 100px;
  }
  @media (max-width: $md) {
    background-position-x: -450px;
  }

  @media (max-width: $sm) {
    background-position-x: 0;
  }

  @media (max-width: $sm) {
    padding-top: 130px;
    padding-bottom: 50px;
  }

  .main-title {
    line-height: 120%;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;

    @media (max-width: $lg) {
      font-size: 35px;
    }
    @media (max-width: $sm) {
      font-size: 25px;
    }

    span {
      color: var(--primary);
      font-weight: 700;
    }
  }

  &__discription {
    margin-top: 80px;
    margin-bottom: 80px;

    @media (max-width: $lg) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media (max-width: $sm) {
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__secondary-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 210%;
  }

  &__discription-list {
    margin-left: 27px;
  }

  &__discription-item {
    font-size: 20px;
    position: relative;

    @media (max-width: $sm) {
      font-size: 16px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 2px;
      background-color: var(--black);
      transform: translate(-17px, 50%);
      top: 50%;
    }
  }

  &__button-wrapper {
    display: flex;
    gap: 30px;

    @media (max-width: 500px) {
      flex-wrap: wrap;
      gap: 15px;
    }

    .button {
      width: 183px;

      @media (max-width: $sm) {
        width: 100%;
      }
    }
  }
}

.button {
  border-radius: 4px;
  padding: 0 10px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-time);
  text-transform: uppercase;
  font-size: 13px;
  color: #2a2b30;

  &.primary {
    border: 1px solid var(--white);
    background-color: var(--primary);
    color: var(--white);

    &:hover {
      cursor: pointer;
      background-color: var(--primary-hover);
      transition: var(--transition-time);
    }

    &:active {
      background-color: var(--primary-active);
    }

    &.disabled {
      background-color: var(--primary-disabled);
      color: var(--primary);
    }
  }

  &.secondary {
    background-color: var(--white);
    border: 1px solid #6f6d7b;

    &:hover {
      border: 1px solid var(--primary-hover);
      transition: var(--transition-time);
      color: var(--primary-hover);
      cursor: pointer;
    }

    &:active {
      border: 1px solid var(--primary-active);
      color: var(--primary-active);
    }

    &.disabled {
      border: 1px solid var(--primary-disabled);
    }
  }
}

.ordering-section {
  padding-top: 121px;
  padding-bottom: 150px;
  background-image: image-set(
    url("@img/bg2.jpg") 1x,
    url("@img/bg2@2x.jpg") 2x,
    url("@img/bg2@3x.jpg") 3x
  );
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $xxl) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (max-width: $sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section__title {
    margin-bottom: 30px;

    @media (max-width: $xxl) {
      margin-bottom: 15px;
    }
  }

  .paragraph {
    text-align: center;
  }
}

.section__title {
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

  @media (max-width: $xxl) {
    font-size: 30px;
  }
  @media (max-width: $sm) {
    font-size: 23px;
  }

  span {
    color: var(--primary);
  }
}

.paragraph {
  font-weight: 400;
  font-size: 18px;
  color: #bbb;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "type email name"
    "range range file"
    ". form__button .";
  gap: 30px;

  @media (max-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "email name"
      "type file"
      "range range"
      " form__button form__button ";
  }

  @media (max-width: $md) {
    margin-top: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-template-areas:
      "email"
      "name"
      "type"
      "file"
      "range"
      "form__button";
    gap: 20px;
  }

  .type {
    grid-area: type;
  }
  .email {
    grid-area: email;
  }
  .name {
    grid-area: name;
  }
  .range {
    grid-area: range;
    .paragraph {
      text-align: left;
      font-size: 18px;
      @media (max-width: $sm) {
        font-size: 14px;
        padding-right: 10px;
      }
    }
  }
  .file {
    grid-area: file;
  }
  &__button {
    grid-area: form__button;
  }

  &__input {
    border: 1px solid var(--white);
    border-radius: 3px;
    padding: 10px;
    height: 48px;
    background: rgba(255, 255, 255, 0.85);
    font-size: 18px;

    &::placeholder {
      font-size: 18px;
      color: #272733;
    }

    &:focus {
      border: 2px solid var(--primary-hover);
    }
  }

  &__add-file-button {
    height: 48px;
    width: 100%;

    .paragraph {
      margin-left: 10px;
    }

    &:hover {
      cursor: pointer;
      .paragraph {
        transition: var(--transition-time);
        color: var(--primary-hover);
      }

      svg path {
        transition: var(--transition-time);
        fill: var(--primary-hover);
      }

      &:active {
        .paragraph {
          color: var(--primary-active);
        }
        svg path {
          fill: var(--primary-active);
        }
      }
    }
    .paragraph {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
      color: #272733;
      transition: var(--transition-time);
    }
    .icon-add-files {
      margin-right: 5px;
      color: #272733;
    }
  }
  &__add-file-input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}

.select {
  position: relative;

  &.select.is-active .select__body {
    grid-template-rows: 1fr;
    overflow-y: scroll;
    transition: var(--transition-time);
  }
  &.select.is-active .select__icon {
    transform: rotate(180deg);
  }
  &.select.is-active .select__current {
    background: rgba(61, 64, 80, 0.85);
    border: 1px solid rgba(61, 64, 80, 0.85);
    color: var(--white);

    &::placeholder {
      color: var(--white);
    }
  }
  &.select.is-active .select__icon path {
    fill: var(--white);
  }

  &.select_selected .select__header {
    transition: var(--transition-time);
  }
}

.select__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  height: 48px;
  cursor: pointer;

  .select__current {
    border: 1px solid var(--white);
    z-index: 100;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 18px;

    &::placeholder {
      font-size: 18px;
      color: #272733;
    }
  }

  .select__icon {
    z-index: 999;
    position: absolute;
    right: 20px;
  }
}

.select__body {
  max-height: 180px;
  width: 100%;
  background: rgba(39, 39, 51, 1);
  position: absolute;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  z-index: 100;
  transition: var(--transition-time);
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #3d4050;
    border-radius: 3px;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 3px;
    width: 7px;

    &:hover {
      ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-hover);
      }
    }
  }
}

.select__item {
  width: 100%;
  padding: 10px;
  height: 40px;
  transition: var(--transition-time);
  cursor: pointer;
  color: var(--white);
  font-size: 18px;

  &:hover {
    color: var(--primary-hover);
    transition: var(--transition-time);
  }
  &.select__item_selected {
    color: var(--primary-active);
  }
}

.footer {
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #3d4050;

  @media (max-width: $xl) {
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__copywrite {
    font-size: 13px;
    color: var(--white);
    white-space: nowrap;

    @media (max-width: $xl) {
      order: 3;
      width: 100%;
      text-align: center;
    }
    @media (max-width: $sm) {
      font-size: 14px;
    }

    br {
      display: none;
      @media (max-width: $sm) {
        display: inline;
      }
    }
  }
}

.payment-list {
  height: 18px;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  gap: 40px;
  padding: 0 40px;

  @media (max-width: $xl) {
    gap: 25px;
    padding: 0 25px;
  }

  @media (max-width: $sm) {
    gap: 15px;
    padding: 0;
    border: none;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__button {
    background: transparent;
    border: none;
    font-size: 13px;
    color: #c3c3c3;
    display: flex;
    gap: 10px;
    height: 20px;
    line-height: 20px;
    align-items: center;
    transition: var(--transition-time);

    @media (max-width: $sm) {
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;
      color: var(--primary-hover);
      transition: var(--transition-time);

      .payment-list__button-icon path {
        fill: var(--primary-hover);
        transition: var(--transition-time);
      }
      &:active {
        color: var(--primary-active);

        .payment-list__button-icon path {
          fill: var(--primary-active);
        }
      }
    }
  }

  &__button-icon {
    transition: var(--transition-time);
  }
}

.contact-list {
  display: flex;
  gap: 40px;

  @media (max-width: $xl) {
    gap: 25px;
  }

  @media (max-width: $sm) {
    gap: 15px;
    flex-direction: column;
    margin-left: 45px;
  }

  &__link {
    color: var(--white);
    transition: var(--transition-time);
    font-size: 13px;
    display: flex;
    align-items: center;

    @media (max-width: $sm) {
      font-size: 16px;
    }

    &:hover {
      color: var(--primary-hover);
      transition: var(--transition-time);

      .contact-list__item-icon path {
        fill: var(--primary-hover);
        transition: var(--transition-time);
      }
    }
    &:active {
      color: var(--primary-active);
      .contact-list__item-icon path {
        fill: var(--primary-active);
      }
    }
  }

  &__item-icon {
    margin-right: 12px;
    path {
      fill: var(--primary);
    }
  }
}
